# Treat Blade as PHP
*.blade.php linguist-language=PHP

# Ignore frontend assets from language stats
/public/** linguist-vendored
/resources/** linguist-vendored
/node_modules/** linguist-vendored

# Ignore built/static assets
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.map linguist-vendored
